{% extends "base.html" %}
{% block content %}
<h2>Create a Profile for Project: {{ project.name }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
    </div>
    <div>
        {{ form.age.label }}<br>
        {{ form.age(size=32) }}<br>
    </div>
    <div>
        {{ form.contact_info.label }}<br>
        {{ form.contact_info(size=32) }}<br>
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
